<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra Exitosa- Tienda medieval</title>
    <link rel="stylesheet" href="css/completado.css">
</head>
<body>
    
        <div id="contenedorList">
            <img id="imagenLogo"src="ImagenesTienda/LogoNav.png" alt="Logo tienda Medieval">
           <ul>
                <li><a href="ArmasTienda.html">Armas de Larp</a></li>
                <li><a href="ArmadurasTienda.html">Armaduras y ropa Medieval</a></li>
                <li><a href="Contacto.html">Contacto</a></li>
                <li><a href="cestaUsuario.html"><img src="ImagenesTienda/carro.png" alt="carro"></a></li>
                <li><a href="FavoritosUsuario.html"><img src="ImagenesTienda/flecha 2.png" alt="favorito"></a></li>
                <li><a href="LoginUsuario.php"><img src="ImagenesTienda/personitaModificada 1.png" alt="loginUsuario"></a></li>
                <li><a href="#"><img src="ImagenesTienda/navidioma.png" alt="idioma"></a></li>
           </ul>  
        </div>
    <div class="exito">
        <p>¡Su compra ha sido un éxito!</p>
    </div>
    <div class="volver">
        <a href="Inicio.html">¡Volver al inicio!</a>
    </div>      
</body>
<footer>
    <img src="ImagenesTienda/EscudoFooter.png" alt="Logo izquierda" class="footer-img">
    <div id="footer-info">
        <div class="contact-info">
            <h3>Contacto</h3>
            <p>Teléfono: +34 123 456 789</p>
            <p>Email: Contacto@tiendamedieval.com</p>
            <p>Dirección: Rúa Meira(A Coruña)</p>
        </div>
        <div id="team-info">
            <p>Adrián Fariña</p>
            <p>Brais Alonso</p>
            <p>Pablo Iravedra</p>
        </div>
    </div>
    <img src="ImagenesTienda/EscudoFooter.png" alt="Logo derecha" class="footer-img">
</footer>
</html>